.user-info {

    .form-main {
        padding: 40px;
        background-color: $gray;
        border: 1px solid #eee;
        border-radius: 4px;

        @media #{$md,$xs} {
            padding: 35px;
        }

        @media #{$xs} {
            padding: 30px;
        }

        .form-title {
            margin-bottom: 30px;

            h2 {
                margin-bottom: 35px;
                font-size: 22px;
            }

            p {
                font-size: 16px;
            }
        }

        .form {
            .form-group {
                margin-bottom: 15px;
                display: block;

                input {
                    height: 52px;
                    line-height: 52px;
                    width: 100%;
                    border: 1px solid #e6e2f5;
                    padding: 0px 20px;
                    color: #333;
                    font-weight: 400;
                    border-radius: 4px;
                    background-color: $white;
                    transition: all 0.4s ease;

                    &:focus {
                        border-color: $theme-color;
                    }
                }

                textarea {
                    height: 180px;
                    width: 100%;
                    border: 1px solid #e6e2f5;
                    padding: 15px 20px;
                    color: #333;
                    resize: none;
                    font-weight: 400;
                    resize: vertical;
                    border-radius: 4px;
                    background-color: $white;
                    transition: all 0.4s ease;

                    &:focus {
                        border-color: $theme-color;
                    }
                }

                &.button {
                    width: 100%;
                    margin-bottom: 0;

                    .btn {}
                }
            }

        }
    }
}
